@use 'bootstrap';
// COMMONS ROULES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

// HEADER
#site_header {
    height: 150px;
    background-color: red;
}